/* * {
    box-sizing: border-box;   
}
.nav-item {
    color: mediumpurple;
} */

/* .jumbotron h1 {
    color: mediumpurple;
    /* font-size-adjust: 80%; */
/* } */ */

        /* @media @phone {
        .h1 {
         border: 1px red;    
            }
        } */