.carousel {


  .width-100();
  .flex(center, center);
  width: 50%;
  height: auto;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;

  h4 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 1;
  }

  .left-button,
  .right-button {
    .flex(center, center);
    font-size: 40px;
    border-radius: 50%;
    position: relative;
    width: 50px;
    height: auto;
    font-size: 2rem;
    color: gray;
    font-weight: 600;

    @media @phone {
      color: transparent;
    }

    @media @tablet {
      color: transparent;
    }

    cursor: pointer;

    &:hover {
      color: white;
      background-color: white;
      border: 2px solid black;

      @media @phone {
        display: block;
      }

      @media @tablet {
        display: block;
      }
    }
  }



  img {
    display: none;
  }
}

// end of .carousel

img.car {
  width: 50%;
}

img.menu {
  width: 50%;
}

.carousel .carouselCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h4 {
  color: #25B7D3;
}